.menuItems {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
}

.menuItems h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 7.2rem;
	margin: 2rem;
}

.menu {
	text-align: center;
	width: 100%;
	padding: 0;
}

.menu li {
	margin: 23px 0;
}

.links {
	font-size: 3.6rem;
	text-transform: uppercase;
	margin: 3rem 0;
	font-weight: bold;
	letter-spacing: 0.5rem;
	color: #fff;
	text-decoration: none;
	transition: color 0.3s linear;
}

.links:hover {
	color: #ffb4b9;
}

.hide {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
	transition: transform 0.3s ease-in-out;
}

.login {
	color: white;
	font-size: 2.6rem;
	text-align: left;
	margin-top: -15rem;
	margin-bottom: 15rem;
	display: flex;
	flex-direction: column;
	justify-self: left;
	width: 300px;
}

.login button {
	background: transparent;
	color: #ffb4b9;
	font-size: 1.8rem;
	border: none;
}

.login img {
	padding: 0 1rem;
}
