.boob {
	background-color: #fff;
	display: grid;
	grid-template-rows: 133px 250px 260px auto;
	grid-template-columns: 15% 40% 40% 5%;
}

.infoBoob {
	grid-column: 2;
	grid-row: 2;
}

.boobSteps {
	width: 445px;
	grid-column: 2;
	grid-row: 3 / span 2;
	border-left: solid 0.2rem #ffaeb4;
	padding-left: 2rem;
}

.boobottle {
	grid-column: 3;
	grid-row: 1 / 4;
}

.bg {
	background: linear-gradient(180deg, #f5b4bf 0%, rgba(255, 180, 185, 0) 100%);
	grid-row: 1;
	grid-column: 1 / span 4;
}

.notSelected {
}

.notSelected h3 {
	color: #c4c4c4;
	font-size: 2.4rem;
}

.notSelected p {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.arrowShow {
	transform: rotate(-90deg);
	background-color: white;
	margin-left: -3.6rem;
	margin-bottom: -4.6rem;
	padding: 5px;
}
