.boob {
	background-color: #fff;
	display: grid;
	grid-template-rows: 1fr 150px 260px 1fr;
	grid-template-columns: 15% 50% 30% 5%;
}

.infoBoob {
	grid-column: 2;
	grid-row: 2;
}

.boobSteps {
	width: 445px;
	grid-column: 2;
	grid-row: 3 / span 2;
	border-left: solid 0.2rem #ffaeb4;
	padding-left: 2rem;
}

.bg {
	background-color: #ffb4b9;
	grid-row: 1 / span 3;
	grid-column: 3 / span 4;
}

.notSelected h3 {
	color: #c4c4c4;
}

.notSelected p {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}
