.header {
	/* background-color: #ffb4b9; */
	color: white;
	/* height: 100vh; */
	/* background-image: url("./../../images/header.png"); */
	background-repeat: no-repeat, repeat;
	display: grid;
	grid-template-columns: 5% 43px 43% 39% 10%;
	grid-template-rows: 20% 55% 20% 5%;
}

.fullscreenBg {
	/* position: fixed; */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.bgVideo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

header div {
	grid-column: 4;
	grid-row: 2;
}

header div:nth-of-type(2) p {
	color: #000;
	margin: 1rem 0;
	text-align: left;
}

.scroll {
	text-align: center;
	grid-row: 4;
	grid-column: 1 / span 5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.scroll p {
	font-size: 1.4rem;
	margin: 0 2rem;
	color: #fff;
}

.bounce {
	animation: bounce 2s infinite;
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-10px);
	}
}
.inschrijven {
	background-color: white;
	display: grid;
	grid-template-columns: 15% 30% 10% 30% 15%;
	grid-template-rows: 10% 350px 10%;
	/* margin-bottom: 8rem; */
}

.bg_inschrijven {
	background: radial-gradient(
		50% 103.45% at 50% 50%,
		#ffb4b9 67.19%,
		#ff969b 100%
	);
	grid-row: 2 / 4;
	grid-column: 1 / span 6;
}

.callToAction {
	background-color: white;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	text-align: center;
	grid-column: 2;
	grid-row: 1 / span 2;
	padding: 2rem;
	height: 365px;
}
.callToAction h4 {
	padding: 1rem 0;
	margin: 0 4rem;
	border-bottom: solid 0.2rem rgba(0, 0, 0, 0.2);
}

.callToAction p {
	font-family: "Montserrat", sans-serif;
	line-height: 2.9rem;
	font-size: 2.4rem;
	margin: 2rem;
	height: 160px;
	text-align: left;
}

.callToAction:nth-last-child(1) {
	grid-column: 4;
	grid-row: 1 / span 2;
}

@media (min-aspect-ratio: 16/9) {
	.bgVideo {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	.bgVideo {
		width: 300%;
		left: -100%;
	}
}

@media (max-width: 767px) {
	/* .fullscreen-bg {
		background: url("../img/videoframe.jpg") center center / cover no-repeat;
	} */

	.bgVideo {
		display: none;
	}
}
