.race {
	display: grid;
	grid-template-columns: 15% 40% 40% 5%;
	grid-template-rows: 15% 350px 260px;
	background-color: white;
}
.infoRace {
	grid-column: 3;
	grid-row: 2;
}

.videoMap {
	grid-column: 2;
	grid-row: 2;
}

.raceSteps {
	grid-column: 2;
	grid-row: 3;
	padding-left: 2rem;
}

.raceStepsUitleg {
	grid-column: 3;
	grid-row: 3;
	align-self: center;
	/* transition: all 0.5s ease-in-out; */
}

.raceStepsUitleg p {
	background-color: white;
}

.fadeIn {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
}

.hide {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.notSelected {
	font-size: 2.4rem;
	color: #c4c4c4;
}

.border {
	grid-row: 1 / span 4;
	grid-column: 2;
	border-left: solid 0.2rem #ffaeb4;
}
.arrowShow {
	transform: rotate(-90deg);
	background-color: white;
	margin-left: -3.5rem;
	margin-bottom: -4.5rem;
	/* width: 10px; */
	padding: 5px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
