.social {
	list-style-type: none;
	border-right: solid black 0.2rem;
	position: relative;
	justify-self: end;
	align-self: center;
	grid-row: 3;
	grid-column: 2;
	z-index: 2;
}
.socialItem {
	padding: 0.8rem;
	padding-right: 2rem;
}
