footer {
	background: radial-gradient(
		154.68% 100% at 50.03% 0%,
		#feb1b7 44.79%,
		#ff969b 100%
	);
	border-top: solid white 0.2rem;
	/* position: fixed; */
	left: 0px;
	bottom: 0px;
	/* position: relative; */
}
/* 
h5 {
	color: #ffffff;
	font-size: 2.4rem;
} */

.footerInfo {
	/* margin: 2rem; */
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 1.8rem;
	/* align-content: space-between; */
}

h5 {
	padding-bottom: 2rem;
}

.footerInfo div {
	width: 480px;
	/* align-self: center; */
}

address {
	line-height: 22px;
	text-align: left;
}
.menu {
	border-left: #ffffff solid 0.2rem;
	border-right: #ffffff solid 0.2rem;
}

.menuItems {
	text-decoration: none;
	align-items: center;
	align-self: center;
}

.menuItems li {
	padding: 0.5rem 0;
}

.newsLetter {
	text-align: center;
	width: 480px;
	margin: auto;
	width: 50%;
}

.credits {
	background-color: #ffffff;
	text-align: center;
}

.mailForm {
	text-align: center;
	justify-content: center;
}

.mailinput {
	width: 580px;
}
.submit {
	border: transparent;
	border-bottom: solid white 0.2rem;
	text-align: center;
	font-size: 1.8rem;
	align-self: flex-end;
	width: 110px;
	margin: 0 1.5rem 1.5rem;
}
