footer {
	background: radial-gradient(
		154.68% 100% at 50.03% 0%,
		#feb1b7 44.79%,
		#ff969b 100%
	);
	border-top: solid white 0.2rem;
	/* position: relative; */
}

/* h5 {
	color: #ffffff;
	font-size: 2.4rem;
} */

.footerInfo {
	/* margin: 2rem; */
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 1.8rem;
	/* align-content: space-between; */
}

.footerInfo div {
	width: 480px;
}

address {
	line-height: 22px;
	text-align: left;
}
.menu {
	border-left: #ffffff solid 0.2rem;
	border-right: #ffffff solid 0.2rem;
}

.menuItems {
	text-decoration: none;
	align-items: center;
}

.newsLetter {
	text-align: center;
}

.credits {
	background-color: #ffffff;
	text-align: center;
}
.submit {
	border-color: white;
}
