.sharing {
	grid-column: 2;
	display: flex;
	justify-content: space-evenly;
}

.sharen {
	background: radial-gradient(
		134.38% 100% at 50.13% 0%,
		#ffb4b9 55.21%,
		#ff969b 93.23%
	);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	display: grid;
	width: 400px;
	height: 445px;
	grid-template-columns: repeat(2, 1fr) 25px;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1.5rem;
	padding: 2rem 1rem;

	grid-auto-flow: column;
}

.sharingIndi {
	justify-content: left;
	grid-column: 2;
}

.sharenIndi {
	background: radial-gradient(
		192.67% 143.38% at 50.13% 0%,
		#ffb4b9 41.56%,
		#ff969b 93.23%
	);
	display: grid;
	width: 500px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	grid-template-columns: repeat(2, 1fr) 35px;
	grid-auto-flow: row;
	padding: 2rem 2rem;
}

.sharenIndi img {
	justify-self: center;
}

.confirmIndiv {
	width: 100%;
}
.imgBottle {
	grid-row: 1 / span 3;
}

.shareButtons {
	grid-column: 3;
	grid-row: 1;
	display: flex;
	flex-direction: column;
}
