.panel {
	height: 110vh;
	display: grid;
	padding-top: 5rem;
	grid-template-columns: 10% 1fr 20%;
	grid-template-rows: 20% 1fr 20%;
}

.extraInfo {
	grid-column: 2;
	margin: 0;
	border: none;
	align-self: center;
}
.extraInfo p {
	padding-left: 4rem;
	font-size: 1.6rem;
}

.formSection {
	grid-column: 2;
	grid-row: 2;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-auto-flow: column;
}
.formSection h3 {
	border: none;
	margin: 0em;
}

.resultaten {
	grid-column: 2;
	/* grid-row: 2; */
	/* display: flex;
	flex-direction: row; */
}

.results {
	grid-column: 2;
}

.testing {
	grid-row: 3;
}
