.custom {
	display: grid;
	grid-template-columns: 10% 20% 50% 20%;
	grid-row: repeat(2, auto);
}

.custom h3 {
	grid-column: 2;
}

.custom .deeltitel {
	grid-column: 4;
}

.custom div:nth-of-type(2) {
	grid-column: 2;
	grid-row: 2;
}

.custom div:nth-of-type(3) {
	grid-column: 3;
	grid-row: 2;
}

.custom .secondaireButton {
	grid-column: 4;
}

.bottleCustom {
	display: flex;
	flex-direction: column;
}

.bottleCustom img:nth-child(1) {
	margin-bottom: -1rem;
}

.bottleCustom img:nth-last-child(1) {
	margin-left: 81px;
}

/* .customRadio {
} */
/* .submit {
	font-size: 1.8rem;
	font-weight: bold;
	grid-column: 3;
	grid-row: 3;
	width: 100px;
	height: 30px;
	background: none;
	border: none;
} */

.formCustom {
}
