.mainButton {
	font-size: 2.4rem;
	font-weight: bold;
	border: none;
	border-bottom: #ffadb3 0.2rem solid;
	width: auto;
	background-color: transparent;
}

.secondaireButton {
	font-size: 1.8rem;
	font-weight: bold;
	grid-column: 3;
	grid-row: 3;
	width: 100px;
	height: 30px;
	background: none;
	border: none;
}

.backButton {
	grid-column: 2;
}

.aanmelden {
	width: 140px;
	text-align: center;
	align-self: flex-end;
}
